.down-arrow {
  position: absolute;
  top: calc(75vh - 60px);
  left: calc(50% - 40px);
  height: 50px;
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}