---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Home from '../components/Home.astro'
---

<Layout title="CodeSage">
  <header>
    <Nav />
  </header>
  <main>
    <Home />
  </main>
</Layout>
