---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Code Review">
  <main>
    <h1>Code Review</h1>
    <p>Code review is a software quality assurance activity in which one or several people check a program mainly by viewing and reading parts of its source code, and they do so after implementation or as an interruption of implementation.</p>
  </main>
</Layout>