---
import { Subtitle } from './Subtitle'
---

<div class="flex flex-col justify-center items-center gap-5 h-screen py-0 px-5 dark:text-white text-center">
  <h1 class="text-4xl font-light">What if your code as a developer was</h1>
  <Subtitle client:load />
</div>
