---
import { GithubIcon } from '../icons/GithubIcon'
import '../styles/darkModeButton.css'
---
<nav id="main-nav">
  <ul>
    <li>
      <a href="/">
        <img src="/buhoSinFondo.png" alt="Logo" width="72" height="72" />
      </a>
    </li>
    <li class="nav-right">
      <a href="https://github.com/JoseGabino12/CodeSage" target="_blank">
        <GithubIcon width={ 26 } height={ 26 } />
      </a>
      
      <button id='dark-mode-toggle' class="theme__icon">
        <span></span>
        <span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
        <span></span>
      </button>
    </li>
  </ul>
</nav>

<style>
  nav {
    width: 100%;
    backdrop-filter: blur(12px);
    background-color: rgba(254, 254, 254, 0);
    z-index: 1;
  }

  .sticky {
    position: sticky;
  }

  .fixed {
    position: fixed;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
  }
</style>

<script is:inline>
  let remove = null
  const matchMedia = window.matchMedia('(prefers-color-scheme: dark)')

  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined') {
      return localStorage.getItem('theme') ?? 'dark'
    }

    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  }

  const updateIcon = (themePreference) => {
    themePreference === 'dark' ? document.getElementById('dark-mode-toggle').classList.add('theme__icon_dark') : document.getElementById('dark-mode-toggle').classList.remove('theme__icon_dark')
  }

  const updateTheme = () => {
    if (remove != null) {
      remove()
    }
    matchMedia.addEventListener('change', updateTheme)
    remove = () => {
      matchMedia.removeEventListener('change', updateTheme)
    }

    const themePreference = getThemePreference()
    const isDark = themePreference === 'dark' || (themePreference === 'system' && matchMedia.matches)

    updateIcon(themePreference)
    isDark ? document.documentElement.classList.add('dark') : document.documentElement.classList.remove('dark')
  }

  updateTheme()

  document.getElementById('dark-mode-toggle').addEventListener('click', () => {
    localStorage.setItem('theme', document.documentElement.classList.contains('dark') ? 'light' : 'dark')
    updateTheme()
  })

  const setNavPosition = () => {
    const path = window.location.pathname;
    const nav = document.getElementById('main-nav');
    if (path === '/' || path === '/home') {
      nav.classList.add('fixed');
      nav.classList.remove('sticky');
    } else {
      nav.classList.add('sticky');
      nav.classList.remove('fixed');
    }
  }

  window.addEventListener('load', setNavPosition);
  window.addEventListener('popstate', setNavPosition);

</script>