---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/buhoSinFondo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <div class="absolute inset-0 dark:top-0 -z-10 dark:z-[-2] w-full dark:w-screen bg-white dark:bg-[#000000] bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] dark:bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] [background-size:16px_16px] dark:bg-[size:20px_20px]" />
    </div>

    <slot />
  </body>
</html>
